.upbox {
    background-color: skyblue;
    padding: 0;
    margin: 0;
    right: 0;
    height: 30px;
    margin-top: 30px;
}
.mainhead{
    background-color: 0;
    padding: 0;
    margin: 0;
    height: 130px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: solid rgba(180, 178, 178, 0.5) 1px;
    
}
.body{
    background-color: white;
    padding: 0;
    margin: 0;
    height: fit-content;
    width: 100%;
    border-radius: 8px;
    border: solid rgba(180, 178, 178, 0.5) 1px;
    display: flex;
}
.left {
    margin-left: 80px;
    width: auto fit-content;
    height: 100vh;
    z-index: 3;
    background-color: white;
    flex: 1;
    max-width: 310px;
}
.right{
    margin-left: 20px;
    display:flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 40px;
    margin-top: 40px;
}
.headtext{
    position: relative;
    margin-left: 200px;
    padding: 0;
    font-size: 25px;
    color: rgb(31, 31, 149);
    user-select: none;
    top: 10px;
}
.daohang{
    float:right;
    align-items: center;
    text-align: left;
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: white;
    border-color: transparent;
    width: 100%;
    left: 0;
    right: 0;
    display: block;
    border-bottom: solid rgba(180, 178, 178, 0.5) 1px;
    font-size: 20px;
    border-top: solid rgba(180, 178, 178, 0.5) 1px;
}
.daohangbutton {
    text-decoration: none;
    display: block;
    color: rgb(31, 31, 149);
    margin-left: 20px;
}
.daohangbelow{
    float:right;
    align-items: center;
    text-align: left;
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: white;
    border-color: transparent;
    width: 100%;
    left: 0;
    right: 0;
    display: block;
    border-bottom: solid rgba(180, 178, 178, 0.5) 1px;
    font-size: 20px;
}
.hover:hover {
    color: rgb(7, 7, 110);
}
.text {
    margin-left: 20px;
    margin-right: 80px;
    font-size: 20px;
}
.smalltext{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 19px;
}
.texthead {
    margin: 0;
    font-weight: 600;
}
.textpic {
    max-width: 95%;
    height: auto;
}
.equation {
        width: 100%;
        height: auto;
        margin: 0;
        line-height: 40px;
        text-align: center;
        font-size: 40px;
}
.h3 {
    margin-left: 20px;
    font-size: 24px;
}
.lowerbox{
    background-color: darkslategray;
    padding: 0;
    margin: 0;
    right: 0;
    height: 350px;
}
.bottombox{
    background-color: skyblue;
    padding: 0;
    margin: 0;
    right: 0;
    height: 120px;
}
.headpic {
    display: flex;
    border: 0;
    padding: 0;
    border: none !important;
    position: absolute;
    text-align: center;
    margin-left: 100px;
    top:90px;
    overflow: hidden;
}
.blankbox {
    height: 200px;
    margin: 0;
    padding: 0;
    right: 0;
}
.red {
    background-color: lightcoral;
}
.green {
    background-color: chartreuse;
}
.blue {
    background-color: aqua;
}
.purple {
    background-color: violet;
}
@media (max-width:850px) {
.left {
    display: none;
}
.text {
    margin-right: 20px;
    margin-left: 20px;
}
.headpic {
    margin-left: 20px;
    top: 60px;
}
.headtext {
    margin: 0;
    padding: 0;
    margin-left: 100px;
    font-size: 17px;
    top:17px;
}
.textpic {
    width: 100%;
    height: auto;
}
.right {
    margin-left: 0;
}
.texthead {
    margin-left: 10px;
}
.upbox{
    height: 20px;
}
.mainhead{
    height: 80px;
}
.equation {
    width: 100%;
    height: auto;
    margin: 0;
    line-height: 40px;
    text-align: center;
    font-size:clamp(1rem, 0.489rem + 10.5vw, 1.2rem);
}
}